#Battle of the Neighbourhoods - Introduction

###**Description of the problem and a discussion of the background**
After my bachelor's degree I worked in London for two years and absolutely loved the city. There are so many restaurants everywhere, with so many cuisines to choose from. It can be especially challenging for an entrepreneur to choose a good location for their new venue. Furthermore, rent is ridiculously expensive and it can be very challenging for entrepreneurs to open a new restaurant or venue in the city centre. It might be more attractive to them to open a venue in one of the boroughs of London, so they pay cheaper rent whilst they build up their brand.

The challenge then is: which borough should an entrepreneur open a new venue in?

This is what this study will aim to answer by analysing data fomr the different boroughs of London.

###**Description of the data and how it will be used to solve the problem**
The data that will be used for this project will be as follows:

- Data about the bouroughs in London from [Wikipedia](https://en.wikipedia.org/wiki/List_of_London_boroughs)

- Data about average rent in London from the [UK Government website](https://www.gov.uk/government/statistics/private-rental-market-summary-statistics-april-2018-to-march-2019)
- Geographical data: using geopy the coordinates for each borough will be found
- Venue data: Foursquare will be used to collect data about the existing venues in each borough
After the data is collected a k-means clustering method will be used to cluster the boroughs and visualise this data on a map.

First the required libraries will be imported

In [100]:
import pandas as pd
import numpy as np

#!conda install -c conda-forge geopy --yes
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from geopy.distance import great_circle

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # map rendering library

import json # library to handle JSON files

import requests # library to handle requests
from requests import get

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

import seaborn as sns

import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# import k-means from clustering stage
from sklearn.cluster import KMeans

print('Libraries imported')

Libraries imported

<h1>Battle of the Neighbourhoods - Data Importing and Cleaning</h1>

Now, the borough data will be scraped from Wikipedia, inputted into a dataframe, saved as a csv and used for the analysis in this project. <br>
Some more libraries, specficially those for scraping (Beautiful Soup and Urllibrequest) need to be imported as well.<br>
Following this the data will be cleaned before continuing to the analysis.

In [101]:
#scraping wikipedia data

import urllib.request #importing the library we use to open URLs

url = "https://en.wikipedia.org/wiki/List_of_London_boroughs" 
# specify which URL/web page we are going to be scraping

page = urllib.request.urlopen(url)
# open the url using urllib.request and put the HTML into the page variable

from bs4 import BeautifulSoup
# import the BeautifulSoup library so we can parse HTML and XML documents

soup = BeautifulSoup(page, "lxml")
# parse the HTML from our URL into the BeautifulSoup parse tree format

soup.title #this shows that there is only one table

In [102]:
right_table=soup.find('table', class_='wikitable sortable') #this specifies the table we want to scrape

In [103]:
#this code loops through the rows in the table on Wikipedia to populate it
A=[]
B=[]
C=[]
D=[]
E=[]
F=[]
G=[]
H=[]
I=[]
J=[]

for row in right_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==10:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))
        D.append(cells[3].find(text=True))
        E.append(cells[4].find(text=True))
        F.append(cells[5].find(text=True))
        G.append(cells[6].find(text=True))
        H.append(cells[7].find(text=True))
        I.append(cells[8].find(text=True))
        J.append(cells[9].find(text=True))

In [104]:
#transfering the scraped data to a pandas data frame
df=pd.DataFrame(A,columns=['Borough'])
df['Inner']=B
df['Status']=C
df['Local authority']=D
df['Political control']=E
df['HQ']=F
df["Area (sq m)"]=G
df['Population']=H
df['Co-oordinates']=I
df['# on map']=J

In [105]:
df.head #this is what the raw scraped data looks like

<bound method NDFrame.head of                    Borough     Inner Status  ... Population Co-oordinates # on map
0     Barking and Dagenham        \n     \n  ...  194,352\n    51°33′39″N     25\n
1                   Barnet        \n     \n  ...  369,088\n    51°37′31″N     31\n
2                   Bexley        \n     \n  ...  236,687\n    51°27′18″N     23\n
3                    Brent        \n     \n  ...  317,264\n    51°33′32″N     12\n
4                  Bromley        \n     \n  ...  317,899\n    51°24′14″N     20\n
5                   Camden         Y     \n  ...  229,719\n    51°31′44″N     11\n
6                  Croydon        \n     \n  ...  372,752\n    51°22′17″N     19\n
7                   Ealing        \n     \n  ...  342,494\n    51°30′47″N     13\n
8                  Enfield        \n     \n  ...  320,524\n    51°39′14″N     30\n
9                Greenwich         Y  Royal  ...  264,008\n    51°29′21″N     22\n
10                 Hackney         Y     \n  ...  257,379\n    51°32′42″N      9\n
11  Hammersmith and Fulham         Y     \n  ...  178,685\n    51°29′34″N      4\n
12                Haringey  [note 3]     \n  ...  263,386\n    51°36′00″N     29\n
13                  Harrow        \n     \n  ...  243,372\n    51°35′23″N     32\n
14                Havering        \n     \n  ...  242,080\n    51°34′52″N     24\n
15              Hillingdon        \n     \n  ...  286,806\n    51°32′39″N     33\n
16                Hounslow        \n     \n  ...  262,407\n    51°28′29″N     14\n
17               Islington         Y     \n  ...  215,667\n    51°32′30″N     10\n
18  Kensington and Chelsea         Y  Royal  ...  155,594\n    51°30′07″N      3\n
19    Kingston upon Thames        \n  Royal  ...  166,793\n    51°24′31″N     16\n
20                 Lambeth         Y     \n  ...  314,242\n    51°27′39″N      6\n
21                Lewisham         Y     \n  ...  286,180\n    51°26′43″N     21\n
22                  Merton        \n     \n  ...  203,223\n    51°24′05″N     17\n
23                  Newham  [note 3]     \n  ...  318,227\n    51°30′28″N     27\n
24               Redbridge        \n     \n  ...  288,272\n    51°33′32″N     26\n
25    Richmond upon Thames        \n     \n  ...  191,365\n    51°26′52″N     15\n
26               Southwark         Y     \n  ...  298,464\n    51°30′13″N      7\n
27                  Sutton        \n     \n  ...  195,914\n    51°21′42″N     18\n
28           Tower Hamlets         Y     \n  ...  272,890\n    51°30′36″N      8\n
29          Waltham Forest        \n     \n  ...  265,797\n    51°35′27″N     28\n
30              Wandsworth         Y     \n  ...  310,516\n    51°27′24″N      5\n
31             Westminster         Y   City  ...  226,841\n    51°29′50″N      2\n

[32 rows x 10 columns]>

In [106]:
#removing of  "\n" at the end of some of the row items
df["Area (sq m)"] = df["Area (sq m)"].str.replace(r'\n', '')
df['Population'] = df['Population'].str.replace(r'\n', '')
df['Co-oordinates'] = df['Co-oordinates'].str.replace(r'\n', '')
df['# on map'] = df['# on map'].str.replace(r'\n', '')

df.head()

                Borough Inner Status  ... Population Co-oordinates # on map
0  Barking and Dagenham    \n     \n  ...    194,352    51°33′39″N       25
1                Barnet    \n     \n  ...    369,088    51°37′31″N       31
2                Bexley    \n     \n  ...    236,687    51°27′18″N       23
3                 Brent    \n     \n  ...    317,264    51°33′32″N       12
4               Bromley    \n     \n  ...    317,899    51°24′14″N       20

[5 rows x 10 columns]

In [107]:
from google.colab import files #save and import is as a csv
uploaded = files.upload()

Saving London_data.csv to London_data (5).csv

In [108]:
import io
LD = pd.read_csv(io.BytesIO(uploaded['London_data.csv']))

In [109]:
#cleaning up the borough names and defining the boroughs that are in inner London
LD = LD.drop(['Status','Local authority','Political control','Headquarters','Nr. in map'], axis=1)
LD['Inner'].replace(np.nan,'0', inplace=True)
LD['Borough'].replace('Barking and Dagenham [note 1]','Barking and Dagenham', inplace=True)
LD['Borough'].replace('Greenwich [note 2]','Greenwich', inplace=True)
LD['Borough'].replace('Hammersmith and Fulham [note 4]','Hammersmith and Fulham', inplace=True)
Inn = ['Camden','Greenwich','Hackney','Hammersmith and Fulham','Islington','Kensington and Chelsea','Lewisham','Lambeth','Southwark','Tower Hamlets','Wandsworth','Westminster']
LD

                   Borough Inner  ...  Population (2013 est)[1]        Co-ordinates
0     Barking and Dagenham     0  ...                   194,352  51.5541°N 0.1340°E
1                   Barnet     0  ...                   369,088  51.6050°N 0.2076°W
2                   Bexley     0  ...                   236,687  51.4519°N 0.1172°E
3                    Brent     0  ...                   317,264  51.5673°N 0.2711°W
4                  Bromley     0  ...                   317,899  51.5673°N 0.2711°W
5                   Camden     1  ...                   229,719  51.5290°N 0.1255°W
6                  Croydon     0  ...                   372,752  51.3827°N 0.0985°W
7                   Ealing     0  ...                   342,494  51.5250°N 0.3414°W
8                  Enfield     0  ...                   320,524  51.6623°N 0.1181°W
9                Greenwich     1  ...                   264,008  51.4892°N 0.0648°E
10                 Hackney     1  ...                   257,379  51.5450°N 0.0553°W
11  Hammersmith and Fulham     1  ...                   178,685  51.4927°N 0.2339°W
12                Haringey     0  ...                   263,386  51.5906°N 0.1110°W
13                  Harrow     0  ...                   243,372  51.5882°N 0.3423°W
14                Havering     0  ...                   242,080  51.5779°N 0.2121°E
15              Hillingdon     0  ...                   286,806  51.5352°N 0.4481°W
16                Hounslow     0  ...                   262,407  51.4828°N 0.3882°W
17               Islington     1  ...                   215,667  51.5416°N 0.1022°W
18  Kensington and Chelsea     1  ...                   155,594  51.5020°N 0.1947°W
19    Kingston upon Thames     0  ...                   166,793  51.3781°N 0.2927°W
20                 Lambeth     1  ...                   314,242  51.4607°N 0.1163°W
21                Lewisham     1  ...                   286,180  51.4452°N 0.0209°W
22                  Merton     0  ...                   203,223  51.4098°N 0.2108°W
23                  Newham     0  ...                   318,227  51.5255°N 0.0352°E
24               Redbridge     0  ...                   288,272  51.5886°N 0.0824°E
25    Richmond upon Thames     0  ...                   191,365  51.4613°N 0.3038°W
26               Southwark     1  ...                   298,464  51.5035°N 0.0804°W
27                  Sutton     0  ...                   195,914  51.3574°N 0.1753°W
28           Tower Hamlets     1  ...                   272,890  51.5099°N 0.0059°W
29          Waltham Forest     0  ...                   265,797  51.5886°N 0.0118°W
30              Wandsworth     1  ...                   310,516  51.4567°N 0.1910°W
31             Westminster     1  ...                   226,841  51.4973°N 0.1372°W

[32 rows x 5 columns]

In [110]:
#adding separate latitude and longitude columns
geolocator = Nominatim(user_agent="London_explorer")
LD['Co-ordinates']= LD['Borough'].apply(geolocator.geocode).apply(lambda x: (x.latitude, x.longitude))
LD[['Latitude', 'Longitude']] = LD['Co-ordinates'].apply(pd.Series)
LD

                   Borough Inner  ...   Latitude   Longitude
0     Barking and Dagenham     0  ...  51.554117    0.150504
1                   Barnet     0  ...  51.653090   -0.200226
2                   Bexley     0  ...  39.969238  -82.936864
3                    Brent     0  ...  32.937346  -87.164718
4                  Bromley     0  ...  51.402805    0.014814
5                   Camden     1  ...  39.944840  -75.119891
6                  Croydon     0  ...  51.371305   -0.101957
7                   Ealing     0  ...  51.512655   -0.305195
8                  Enfield     0  ...  51.652085   -0.081018
9                Greenwich     1  ...  52.036732    1.168934
10                 Hackney     1  ...  51.543240   -0.049362
11  Hammersmith and Fulham     1  ...  51.494055   -0.225066
12                Haringey     0  ...  51.587930   -0.105410
13                  Harrow     0  ...  51.596827   -0.337316
14                Havering     0  ...  51.004361   -2.337475
15              Hillingdon     0  ...  51.542519   -0.448335
16                Hounslow     0  ...  51.468613   -0.361347
17               Islington     1  ...  51.538429   -0.099905
18  Kensington and Chelsea     1  ...  51.487542   -0.168220
19    Kingston upon Thames     0  ...  51.409627   -0.306262
20                 Lambeth     1  ...  51.501301   -0.117287
21                Lewisham     1  ...  51.462432   -0.010133
22                  Merton     0  ...  51.410870   -0.188097
23                  Newham     0  ...  51.530000    0.029318
24               Redbridge     0  ...  51.576320    0.045410
25    Richmond upon Thames     0  ...  51.440553   -0.307639
26               Southwark     1  ...  51.502922   -0.103458
27                  Sutton     0  ...  30.567295 -100.643236
28           Tower Hamlets     1  ...  51.128863    1.298669
29          Waltham Forest     0  ...  42.375640  -71.235800
30              Wandsworth     1  ...  51.457027   -0.193261
31             Westminster     1  ...  51.500444   -0.126540

[32 rows x 7 columns]

In [111]:
#renaming the columns to make it more readable
LD = LD.rename(columns={"Area (sq mi)": 'Area', "Population (2013 est)[1]":'Population'})
LD.head()

                Borough Inner  ...   Latitude  Longitude
0  Barking and Dagenham     0  ...  51.554117   0.150504
1                Barnet     0  ...  51.653090  -0.200226
2                Bexley     0  ...  39.969238 -82.936864
3                 Brent     0  ...  32.937346 -87.164718
4               Bromley     0  ...  51.402805   0.014814

[5 rows x 7 columns]

In [112]:
from google.colab import files
uploaded = files.upload()

Saving London_rent.csv to London_rent (5).csv

In [113]:
#importing the average rent for each borough
import io
borough_rent = pd.read_csv(io.BytesIO(uploaded['London_rent.csv'])) #importing the average rent per borough as a dataframe
borough_rent.head()

average_rent = borough_rent["Average Rent"]

LD_rent = pd.concat([LD,average_rent], axis = 1)
LD_rent

                   Borough Inner   Area  ...   Latitude   Longitude  Average Rent
0     Barking and Dagenham     0  13.93  ...  51.554117    0.150504          1192
1                   Barnet     0  33.49  ...  51.653090   -0.200226          1548
2                   Bexley     0  23.38  ...  39.969238  -82.936864          1084
3                    Brent     0  16.70  ...  32.937346  -87.164718          1578
4                  Bromley     0  57.97  ...  51.402805    0.014814          1318
5                   Camden     1   8.40  ...  39.944840  -75.119891          2427
6                  Croydon     0  33.41  ...  51.371305   -0.101957          1112
7                   Ealing     0  21.44  ...  51.512655   -0.305195          1484
8                  Enfield     0  31.74  ...  51.652085   -0.081018          1325
9                Greenwich     1  18.28  ...  52.036732    1.168934          1380
10                 Hackney     1   7.36  ...  51.543240   -0.049362          1834
11  Hammersmith and Fulham     1   6.33  ...  51.494055   -0.225066          2070
12                Haringey     0  11.42  ...  51.587930   -0.105410          1513
13                  Harrow     0  19.49  ...  51.596827   -0.337316          1396
14                Havering     0  43.35  ...  51.004361   -2.337475          1131
15              Hillingdon     0  44.67  ...  51.542519   -0.448335          1268
16                Hounslow     0  21.61  ...  51.468613   -0.361347          1410
17               Islington     1   5.74  ...  51.538429   -0.099905          1895
18  Kensington and Chelsea     1   4.68  ...  51.487542   -0.168220          3208
19    Kingston upon Thames     0  14.38  ...  51.409627   -0.306262          1396
20                 Lambeth     1  10.36  ...  51.501301   -0.117287          1751
21                Lewisham     1  13.57  ...  51.462432   -0.010133          1318
22                  Merton     0  14.52  ...  51.410870   -0.188097          1542
23                  Newham     0  13.98  ...  51.530000    0.029318          1422
24               Redbridge     0  21.78  ...  51.576320    0.045410          1303
25    Richmond upon Thames     0  22.17  ...  51.440553   -0.307639          1896
26               Southwark     1  11.14  ...  51.502922   -0.103458          1676
27                  Sutton     0  16.93  ...  30.567295 -100.643236          1130
28           Tower Hamlets     1   7.63  ...  51.128863    1.298669          1773
29          Waltham Forest     0  14.99  ...  42.375640  -71.235800          1314
30              Wandsworth     1  13.23  ...  51.457027   -0.193261          1828
31             Westminster     1   8.29  ...  51.500444   -0.126540          2832

[32 rows x 8 columns]

In [114]:
LD_rent.shape

(32, 8)

Now I'm going to remove the boroughs that are in the inner part of the city, so as to exclude any borough where the rent will be too high for the entrepreneurs to pay.

In [115]:
LDR = LD_rent[LD_rent.Inner != 1]

In [116]:
LDR.shape

(20, 8)

You can see that the 12 boroughs that were in the inner city were removed to leave only the outer boroughs of London for the analysis

In [118]:
LDR.dtypes #checking the type of data in the columns

Borough          object
Inner            object
Area            float64
Population       object
Co-ordinates     object
Latitude        float64
Average Rent      int64
Longitude       float64
dtype: object

In [119]:
LDR = LDR.drop(['Inner'], axis=1) #dropping inner as we don't need it anymore
LDR = LDR.replace(',','', regex=True) #removing the comma from the population to convert it to float
LDR["Population"] = pd.to_numeric(LDR["Population"], downcast="float") #converting population to float
LDR["Average Rent"] = pd.to_numeric(LDR["Average Rent"], downcast="float") #converting rent to float
LDR.dtypes

Borough          object
Area            float64
Population      float32
Co-ordinates     object
Latitude        float64
Average Rent    float32
Longitude       float64
dtype: object

In [120]:
LDR = LDR.rename(columns={"Average Rent": 'Average_Rent'})
LDR_fin = LDR #final data set to be used for the analysis

Now that the data is all cleaned up, the analysis can be performed.

<h1>Battle of the Neighbourhoods - Methodology and Data Analysis</h1>

First we use the geopy library to get the coordinates for London to create a map and visualise the data

In [121]:
address = 'London'

geolocator = Nominatim(user_agent="london_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of London are 51.5073219, -0.1276474.

In [122]:
# create map of Toronto using latitude and longitude values
map_london = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, label in zip(LDR['Latitude'], LDR['Longitude'], LDR['Borough']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=9,
        popup=label,
        color='Red',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_london)  
    
map_london

Now that we have the boroughs on a map, its time to get the venues from Foursquare. Due to a the big area boroughs cover, a rather big search radius will be used.

In [123]:
#access foursquare
CLIENT_ID = 'WISPN3AD52EE5IOI2WPTMM3COFCSWD2GO1UQ5D1MG43AFEZT' # your Foursquare ID
CLIENT_SECRET = 'PAFTWTG4BTYCG0NPTRNESLEIX3ONBQ3ICC0FR5DJR51LRFTD' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: WISPN3AD52EE5IOI2WPTMM3COFCSWD2GO1UQ5D1MG43AFEZT
CLIENT_SECRET:PAFTWTG4BTYCG0NPTRNESLEIX3ONBQ3ICC0FR5DJR51LRFTD

In [124]:
radius = 5000
LIMIT = 100

def getVenues(names, latitudes, longitudes, radius=5000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Borough', 
                  'Latitude', 
                  'Longitude', 
                  'Venue', 
                  'Venue_Lat', 
                  'Venue_Long', 
                  'Venue_Category']
    
    return(nearby_venues)

In [126]:
Brgh_Venues = getVenues(names=LDR_fin['Borough'],
                        latitudes=LDR_fin['Latitude'],
                        longitudes=LDR_fin['Longitude'])

Barking and Dagenham
Barnet
Bexley
Brent
Bromley
Croydon
Ealing
Enfield
Haringey
Harrow
Havering
Hillingdon
Hounslow
Kingston upon Thames
Merton
Newham
Redbridge
Richmond upon Thames
Sutton
Waltham Forest

Lets count the venues in every borough, to get the data scale

In [127]:
Brgh_Venues.groupby('Borough').count()

                      Latitude  Longitude  ...  Venue_Long  Venue_Category
Borough                                    ...
Barking and Dagenham        98         98  ...          98              98
Barnet                     100        100  ...         100             100
Bexley                      83         83  ...          83              83
Brent                       16         16  ...          16              16
Bromley                    100        100  ...         100             100
Croydon                    100        100  ...         100             100
Ealing                     100        100  ...         100             100
Enfield                    100        100  ...         100             100
Haringey                   100        100  ...         100             100
Harrow                     100        100  ...         100             100
Havering                     4          4  ...           4               4
Hillingdon                 100        100  ...         100             100
Hounslow                   100        100  ...         100             100
Kingston upon Thames       100        100  ...         100             100
Merton                     100        100  ...         100             100
Newham                     100        100  ...         100             100
Redbridge                  100        100  ...         100             100
Richmond upon Thames       100        100  ...         100             100
Sutton                      10         10  ...          10              10
Waltham Forest             100        100  ...         100             100

[20 rows x 6 columns]

In [128]:
London_Brgh_onehot = pd.get_dummies(Brgh_Venues[['Venue_Category']], prefix="", prefix_sep="")
mid =  Brgh_Venues['Borough']

London_Brgh_onehot.insert(0, 'Borough', mid)

London_Brgh_onehot.head()

                Borough  ATM  ...  Women's Store  Yoga Studio
0  Barking and Dagenham    0  ...              0            0
1  Barking and Dagenham    0  ...              0            0
2  Barking and Dagenham    0  ...              0            0
3  Barking and Dagenham    0  ...              0            0
4  Barking and Dagenham    0  ...              0            0

[5 rows x 212 columns]

In [129]:
Brgh_grouped = London_Brgh_onehot.groupby('Borough').mean().reset_index()
Brgh_grouped

                 Borough       ATM  ...  Women's Store  Yoga Studio
0   Barking and Dagenham  0.000000  ...       0.000000         0.00
1                 Barnet  0.000000  ...       0.000000         0.00
2                 Bexley  0.012048  ...       0.012048         0.00
3                  Brent  0.000000  ...       0.000000         0.00
4                Bromley  0.000000  ...       0.000000         0.00
5                Croydon  0.000000  ...       0.000000         0.00
6                 Ealing  0.000000  ...       0.000000         0.00
7                Enfield  0.000000  ...       0.000000         0.00
8               Haringey  0.000000  ...       0.000000         0.00
9                 Harrow  0.000000  ...       0.000000         0.00
10              Havering  0.000000  ...       0.000000         0.00
11            Hillingdon  0.000000  ...       0.010000         0.00
12              Hounslow  0.000000  ...       0.000000         0.00
13  Kingston upon Thames  0.000000  ...       0.000000         0.00
14                Merton  0.000000  ...       0.000000         0.00
15                Newham  0.000000  ...       0.000000         0.00
16             Redbridge  0.000000  ...       0.000000         0.00
17  Richmond upon Thames  0.000000  ...       0.000000         0.00
18                Sutton  0.000000  ...       0.000000         0.00
19        Waltham Forest  0.000000  ...       0.000000         0.01

[20 rows x 212 columns]

In [130]:
num_top_venues = 5

for brgh in Brgh_grouped['Borough']:
    print("_________"+brgh+"________")
    temp = Brgh_grouped[Brgh_grouped['Borough'] == brgh].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

_________Barking and Dagenham________
           venue  freq
0    Supermarket  0.10
1           Park  0.09
2  Grocery Store  0.07
3    Coffee Shop  0.06
4            Pub  0.06


_________Barnet________
           venue  freq
0            Pub  0.14
1    Coffee Shop  0.12
2           Café  0.06
3  Grocery Store  0.05
4           Park  0.05


_________Bexley________
            venue  freq
0     Pizza Place  0.07
1     Coffee Shop  0.06
2  Ice Cream Shop  0.05
3            Park  0.04
4  Discount Store  0.04


_________Brent________
                  venue  freq
0  Fast Food Restaurant  0.25
1        Sandwich Place  0.12
2     Convenience Store  0.12
3           Gas Station  0.06
4                Lawyer  0.06


_________Bromley________
           venue  freq
0            Pub  0.12
1  Grocery Store  0.08
2    Coffee Shop  0.08
3           Park  0.06
4    Pizza Place  0.05


_________Croydon________
           venue  freq
0            Pub  0.11
1           Park  0.09
2    Coffee Shop  0.07
3  Grocery Store  0.06
4    Pizza Place  0.04


_________Ealing________
              venue  freq
0               Pub  0.16
1              Park  0.10
2       Coffee Shop  0.07
3       Pizza Place  0.04
4  Botanical Garden  0.04


_________Enfield________
                venue  freq
0         Coffee Shop  0.09
1  Turkish Restaurant  0.07
2         Supermarket  0.06
3                Park  0.06
4                 Pub  0.06


_________Haringey________
                venue  freq
0                Café  0.11
1                 Pub  0.10
2         Coffee Shop  0.07
3  Turkish Restaurant  0.07
4                Park  0.06


_________Harrow________
               venue  freq
0  Indian Restaurant  0.19
1                Pub  0.07
2        Coffee Shop  0.07
3               Park  0.04
4        Supermarket  0.04


_________Havering________
                  venue  freq
0     Food & Drink Shop  0.25
1              Airfield  0.25
2     Electronics Store  0.25
3           IT Services  0.25
4  Pakistani Restaurant  0.00


_________Hillingdon________
               venue  freq
0                Pub  0.11
1        Supermarket  0.10
2        Coffee Shop  0.09
3  Indian Restaurant  0.07
4                Bar  0.04


_________Hounslow________
               venue  freq
0                Pub  0.18
1               Park  0.12
2             Garden  0.07
3        Coffee Shop  0.05
4  Indian Restaurant  0.04


_________Kingston upon Thames________
       venue  freq
0        Pub  0.08
1       Café  0.08
2       Park  0.07
3     Garden  0.05
4  Gastropub  0.04


_________Merton________
         venue  freq
0          Pub  0.14
1         Park  0.09
2          Bar  0.05
3         Café  0.05
4  Coffee Shop  0.05


_________Newham________
        venue  freq
0        Park  0.11
1         Pub  0.08
2        Café  0.06
3         Bar  0.05
4  Restaurant  0.04


_________Redbridge________
                venue  freq
0                 Pub  0.19
1                Park  0.11
2         Coffee Shop  0.06
3          Restaurant  0.05
4  Italian Restaurant  0.04


_________Richmond upon Thames________
         venue  freq
0          Pub  0.17
1         Park  0.09
2         Café  0.06
3  Coffee Shop  0.06
4       Garden  0.06


_________Sutton________
               venue  freq
0              Hotel   0.2
1  Convenience Store   0.2
2        Pizza Place   0.1
3        Gas Station   0.1
4         Steakhouse   0.1


_________Waltham Forest________
                 venue  freq
0   Italian Restaurant  0.08
1  American Restaurant  0.06
2   Mexican Restaurant  0.05
3        Grocery Store  0.04
4         Liquor Store  0.04

Let's put this into a dataframe

In [131]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]


num_top_venues = 5

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Borough']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
brgh_venues_sorted = pd.DataFrame(columns=columns)
brgh_venues_sorted['Borough'] = Brgh_grouped['Borough']

for ind in np.arange(Brgh_grouped.shape[0]):
    brgh_venues_sorted.iloc[ind, 1:] = return_most_common_venues(Brgh_grouped.iloc[ind, :], num_top_venues)

brgh_venues_sorted.head(8)

                Borough  ... 5th Most Common Venue
0  Barking and Dagenham  ...           Coffee Shop
1                Barnet  ...         Grocery Store
2                Bexley  ...        Discount Store
3                 Brent  ...                Lawyer
4               Bromley  ...  Gym / Fitness Center
5               Croydon  ...           Pizza Place
6                Ealing  ...           Pizza Place
7               Enfield  ...                  Park

[8 rows x 6 columns]

Because we only have a small number of boroughs (20) a smaller number of clusters will be used, 5

In [132]:
kclusters = 5
brgh_grouped_clustering = Brgh_grouped.drop('Borough', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(brgh_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:10]

array([4, 0, 4, 2, 4, 4, 0, 4, 0, 4], dtype=int32)

Now let's merge the dataframes

In [133]:
# add clustering labels
brgh_venues_sorted.insert(0, 'Cluster Label', kmeans.labels_)

# merge brgh_grouped with LDR to add latitude/longitude for each neighborhood
Borough_merged = pd.merge(LDR_fin,brgh_venues_sorted, on='Borough')
Borough_merged

                 Borough   Area  ...  4th Most Common Venue 5th Most Common Venue
0   Barking and Dagenham  13.93  ...                    Pub           Coffee Shop
1                 Barnet  33.49  ...                   Park         Grocery Store
2                 Bexley  23.38  ...     Chinese Restaurant        Discount Store
3                  Brent  16.70  ...            Pizza Place                Lawyer
4                Bromley  57.97  ...                   Park  Gym / Fitness Center
5                Croydon  33.41  ...          Grocery Store           Pizza Place
6                 Ealing  21.44  ...       Botanical Garden           Pizza Place
7                Enfield  31.74  ...            Supermarket                  Park
8               Haringey  11.42  ...     Turkish Restaurant                  Park
9                 Harrow  19.49  ...            Supermarket                  Café
10              Havering  43.35  ...      Food & Drink Shop           Yoga Studio
11            Hillingdon  44.67  ...      Indian Restaurant                   Bar
12              Hounslow  21.61  ...            Coffee Shop           Supermarket
13  Kingston upon Thames  14.38  ...                 Garden             Gastropub
14                Merton  14.52  ...                   Café                   Bar
15                Newham  13.98  ...                    Bar            Restaurant
16             Redbridge  21.78  ...             Restaurant    Italian Restaurant
17  Richmond upon Thames  22.17  ...                   Café           Coffee Shop
18                Sutton  16.93  ...             Steakhouse    Mexican Restaurant
19        Waltham Forest  14.99  ...          Grocery Store        Ice Cream Shop

[20 rows x 13 columns]

And now let's map the clusters

In [134]:
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=10)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster, rent, pop in zip(Borough_merged['Latitude'],
                                  Borough_merged['Longitude'],
                                  Borough_merged['Borough'],
                                  Borough_merged['Cluster Label'],
                                  Borough_merged['Average_Rent'],
                                  Borough_merged['Population']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster) + " " + "Rent " + str(rent) + " " + "Population " + str(pop), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=25,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

After seeing the clusters, it is worth looking into each one with a bit more detail, to see, which one is better suited for opening a venue.

In [135]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 0, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

                 Borough   Area  ...  4th Most Common Venue  5th Most Common Venue
1                 Barnet  33.49  ...                   Park          Grocery Store
6                 Ealing  21.44  ...       Botanical Garden            Pizza Place
8               Haringey  11.42  ...     Turkish Restaurant                   Park
12              Hounslow  21.61  ...            Coffee Shop            Supermarket
13  Kingston upon Thames  14.38  ...                 Garden              Gastropub
14                Merton  14.52  ...                   Café                    Bar
15                Newham  13.98  ...                    Bar             Restaurant
16             Redbridge  21.78  ...             Restaurant     Italian Restaurant
17  Richmond upon Thames  22.17  ...                   Café            Coffee Shop

[9 rows x 11 columns]

A very British picture: Pubs and Cafés as a most popular venues, and for people who don't facny a visit to either they can enjoy the nature. This cluster is not of much interest, as it will is already quite populated with Pubs and Cafés, so plently to do already for people here.

In [136]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 1, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

     Borough   Area  ...  4th Most Common Venue  5th Most Common Venue
10  Havering  43.35  ...      Food & Drink Shop            Yoga Studio

[1 rows x 11 columns]

The population here is relatively smaller comaped to some of the other boroughs and it looks like the main point of interest is the airfield. The area is also quite large. It looks like it is not the most popular place for people to come to to enjoy a beer or a coffee.

In [137]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 2, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

  Borough  Area  ...  4th Most Common Venue  5th Most Common Venue
3   Brent  16.7  ...            Pizza Place                 Lawyer

[1 rows x 11 columns]

This borough might be interesting as there is no pub or cafe yet but clearly some other food places. If the area is upcoming it might be interesting to open a local pub here.

In [138]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 3, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

   Borough   Area  ...  4th Most Common Venue  5th Most Common Venue
18  Sutton  16.93  ...             Steakhouse     Mexican Restaurant

[1 rows x 11 columns]

A great picture! There is no pub yet but there is a hotel and clearly an interest in food venues. With a good area and population of the borough, Suttong might be a good choice for a new venue of a similar sort

In [139]:
Borough_merged.loc[Borough_merged['Cluster Label'] == 4, Borough_merged.columns[[0,1,2,4] + list(range(6, Borough_merged.shape[1]))]]

                 Borough   Area  ...  4th Most Common Venue  5th Most Common Venue
0   Barking and Dagenham  13.93  ...                    Pub            Coffee Shop
2                 Bexley  23.38  ...     Chinese Restaurant         Discount Store
4                Bromley  57.97  ...                   Park   Gym / Fitness Center
5                Croydon  33.41  ...          Grocery Store            Pizza Place
7                Enfield  31.74  ...            Supermarket                   Park
9                 Harrow  19.49  ...            Supermarket                   Café
11            Hillingdon  44.67  ...      Indian Restaurant                    Bar
19        Waltham Forest  14.99  ...          Grocery Store         Ice Cream Shop

[8 rows x 11 columns]

From the last cluster there are also a few boroughs that might be of interest; Bromley, Croydon and Waltham Forest. The first two already have a Pub but they are closely followed by a Coffe Shop and a Park respectively and some restaurants, so this might be interesting!
Waltham Forest is probably one of the most interesting as it has lots of restaurants but no pub ter and a sizeable population.

<h1>Battle of the Neighbourhood - Results & Discussion</h1>

###Results
The results of the above analysis and clustering can be summarized as follows:

1. The most popular social venues, ouside of Inner London boroughs are Pubs and Coffee shops
2. Northern boroughs are more prone to visiting pubs, whereas southern boroughs are most likely to shop and have the social life from home
3. Within top 5 places of interest in every borough is an ethnic restaurant
4. Rent price is not so much a factor for going out - the demand is not affected by difference in costs.

###Discussion

Looking at the data Waltham Forest, Bromley, Enfield and Sutton are the best places outside of Central London where a new venue is worth opening. However, a lot of information is not taken into account, and cannot be obtained from Foursquare Developer:

1. Bromley and Enfield's rent is slightly higher (approx £200 per month) so this will need to be taken into account. However, demand here might be higher and therefore it might be worth the extra cost. This can only be determined by visiting the boroughs.
2. Higher ethnic presence in a given borough can and will influence the popularity of a given cuisine.
3. Closer proximity to Inner boroughs and better transport links allows people to travel to the neighbouring borough and impact the measurements
4. Many small venues are not registered in Foursquare and are marketed via word-of-mouth, and are not taken into account

Regardless, the analysis provided an insight into what people like and opt for, when it comes to going out in their own neighbourhoods.

#Battle of the Neighbourhoods - Conclusion

###Conclusion

Finally to conclude this project, it has been great to have a go at solving a real-life problem using available data and find a solution for. The problem at hand here was to open a venue in London. To achieve this some frequently used python libraries were used to clean and analyse the data, Foursquare API was used to explore information of each borough and the results were mapped to visualise them as well.